.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #F4F4F5;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
