.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.messageList{
    overflow-y: auto;
    background-color: #eee;
    height: 100%;
}
