.container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.btn {
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    background-color: #3B82F6;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border: none;
}

.btn:hover {
    background-color: #1D4ED8;
}
